* {
    margin: 0;
}

body {
    background-color: rgb(19, 18, 18);
}

#top-icon {
    border-radius: 25px;
    background-color: rgb(49, 214, 63);
    height: 4%;
    width: 2%;
    mix-blend-mode: hard-light;
    background-size: cover;
}

#main-container {
    width: 100%;
}

#title {
    background: none;
    font-size: 5vw;
    white-space: nowrap;
    color: white;
}

#search {
    background: none;
}


.input-group:hover,
.input-group:focus-within {
    box-shadow: 0 0 0 0.2rem rgb(53, 117, 53) !important;
    border-radius: 5px;
}

.form-control {
    box-shadow: none !important;
}

.card-div {
    background-color: grey;
    padding: 1vw !important;
    border: 3px solid rgb(104, 241, 25);
    border-radius: 20px;
    transition: 0.3s ease;
}

.card-div:hover {
    box-shadow: 0 0 20px rgba(238, 232, 232, 0.816);
    transform: scale(1.1);
}

.loading-indicator {
    border: 8px solid #f3f3f3;
    /* Cinza claro */
    border-top: 8px solid #3498db;
    /* Azul */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}



.card-image {
    margin-top: 0.5vh;
    max-width: 30vw;
    height: 14vh;
    border-radius: 15%, 1%, 1%, 1%;
    object-fit: contain;
}


@media (min-width: 768px) {
    .card-image {
        width: 10vw;
        height: 19vh;
        border-radius: 5px;
        object-fit: contain;
    }

    #content-container {
        height: 85vh;
        width: 70vw;
        color: white;
        background-color: rgb(19, 18, 18);
    }

    .card-description {
        font-size: 1vw;
        margin-bottom: 0;
    }

    .card-title {
        font-size: 3vh;
        margin-bottom: 0;
        max-height: 5vh;
        overflow: hidden;
    }

    #footer-image {
        width: 30%;
        height: 30vh;
        background: none;
    }

    .footer-text {
        background: none;
        color: rgba(90, 99, 90, 0.705);
    }

    .status {
        width: 15px;
        height: 15px;
        border-radius: 100%;
        border: 2px solid rgb(74, 72, 72);
        font-size: 12px;
    }
}

@media (max-width: 767px) {
    .row1 {
        height: 15vh;
        margin-left: 0vw;
        width: 81vw;
    }

    .card-description {
        font-size: 3vw;
        margin-bottom: 0;
    }

    .card-title {
        font-size: 2.5vh;
        margin-bottom: 0;
        max-height: 3vh;
        overflow: hidden;
    }

    #content-container {
        height: 110vh;
        width: 90vw;
        color: white;
        background-color: rgb(19, 18, 18);
    }

    #footer-image {
        width: 50%;
        height: 30vh;
        background: none;
    }

    .font-footer {
        font-size: 1.5vh;
    }

    .footer-text {
        background: none;
        font-size: 2vh;
        color: rgba(193, 207, 193, 0.705);
    }

    .status {
        width: 14px;
        height: 14px;
        border-radius: 100%;
        border: 1px solid rgb(74, 72, 72);
        font-size: 12px;
    }
}



.dead {
    background-color: red;
    color: red;
}

.alive {
    background-color: green;
    color: green;
}

.unknown {
    background-color: grey;
    color: grey;
}

#pagination-nav {
    width: 100%;
    height: 5vh;
    background: none;
    display: flex;
    justify-content: center;
    text-align: center;
}

.current-page {
    background-color: rgb(53, 117, 53);
    color: white;
}

.footer {
    background-color: rgb(19, 42, 19);
    width: 100%;
    height: 150px;
}

.footer-bg {
    background-color: rgb(19, 42, 19) !important;
    color: white;
}

.footer-col {
    height: 100%;
}

.footer-text span {
    background: none;
    font-weight: 600;
    color: white
}